
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template *ngFor="let slider of sliders" ngbSlide>
                    <img
                        [src]="slider.Url"
                        alt="Random first slide"
                        class="img-fluid mx-auto d-block"
                        width="100%"
                    />
                    <div class="carousel-caption">
                        <h3>{{ slider.ID }}</h3>
                        <p>{{ slider.Description }}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{product.Name}}</h4>
                    <p>
                        <small class="text-muted"><i class="fa fa-clock-o"></i> {{product.DateAndTime}} </small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>
                        {{product.Description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    
