<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
    <div class="list-group">
        
        <div *ngFor="let item of items">
            <a [routerLinkActive]="['router-link-active']" [routerLink]="'/blank-page/'+item.ID" class="list-group-item">
                <i class="fa fa-fw fa-desktop"></i>&nbsp;
                <span>  {{item.Name}}</span>
            </a>
        </div>
        
    </div>
    <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' }}</span>
    </div>
</nav>
