<div class="row">
    <div *ngFor="let item of items" class="col-sm-4">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">{{item.Name}}</div>
            <div class="card-body">
                <h4 class="card-title">{{item.Description}}</h4>
                <a [routerLinkActive]="['router-link-active']" [routerLink]="'/dashboard/'+item.ID">
                    <img alt="" class="img-thumbnail" src={{item.Image}} />
                </a>
            </div>
        </div>
    </div>
</div>
<div>
<mat-paginator [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = getServerData($event)">
</mat-paginator>
